/* ========== Global Styles ========== */
body{
    font-family: sans-serif;
    margin: 0;
    height: 100vh;                /* full viewport height */
    display: flex;                /* enable flexbox */
    justify-content: center;      /* horizontal center */
    align-items: center;          /* vertical center */
    background-color: #f0f0f0;
}
/* ========== Layout Container ========== */
.container{
    width: 400px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px 30px;
}
/* ========== Page Heading ========== */
.pageHeading h3{
    margin-bottom: 5px;
}
.pageHeading span{
    color:#717182;
    font-size: 14px;
}
/* ========== Form Style ========== */
form{
    position: relative;
    top: 25px;
}
form label{
    font-size: 14px;
    font-weight: 650;
    display: block;
    margin-bottom: 5px;
}
form input{
    display: block;
    background-color: #f3f3f5;
    border-radius: 5px;
    padding: 0px 8px;
    border: 0px;
    margin-bottom: 15px;
}
.button {
    background-color: #030213;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
} 
input{
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}
p{
    margin-bottom: 40px; 
    font-size: 13px;
    
}
/* ========== Mobile Media ========== */
@media screen and (max-width: 480px) {
    body {
        height: auto;
        padding: 20px;
    }
}